<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-primary">Bootstrap is Working!</h1>
      <p class="lead">This is a test page to verify Bootstrap integration.</p>
      
      <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="This is a Bootstrap tooltip">
        Primary Button
      </button>
      
      <button type="button" class="btn btn-secondary ms-2">
        Secondary Button
      </button>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Bootstrap is successfully integrated with your Rails application.</p>
      </div>
    </div>
  </div>
</div>